.gallery {
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .slide {
            width: 30%;
            height: 300px;
            margin-bottom: 70px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .slide.active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(119, 136, 153, 0.6);

            img {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                height: 70%;
            }
        }

        .fa-times,
        .fa-caret-left,
        .fa-caret-right {
            position: fixed;
            display: none;
        }

        .fa-times {
            top: 5%;
            right: 10%;
        }

        .fa-caret-left {
            top: 50%;
            left: 10%;
        }

        .fa-caret-right {
            top: 50%;
            right: 10%;
        }
    }

    .fa-times,
    .fa-caret-left,
    .fa-caret-right {
        display: none;
        z-index: 10;
        color: rgb(30, 50, 90);
        cursor: pointer;
    }

    .fa-times.active,
    .fa-caret-left.active,
    .fa-caret-right.active {
        display: block;
    }

    .fa-times {
        font-size: 80px;
    }

    .fa-caret-left,
    .fa-caret-right {
        font-size: 100px;
        transform: translateY(-50%);
    }

    .gallery-container.overflow {
        background-color: lightslategray;
        z-index: 10;
    }

}