.our-offer {
    border-top: none;

    .row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        margin: 50px 15px;
        border-radius: 30px;
        padding: 50px;
        color: $column-text-color;

        img {
            width: 40%;
            border: 15px solid $column-bgc;
            box-shadow: 0 0 1em $column-bgc;
            border-radius: 30%;
            transition: 1s;
        }

        .text-container {
            padding: 40px;
            width: 40%;
            height: fit-content;
            background-color: $column-bgc;
            text-align: center;
            border-radius: 40% 30px;

            .about-us-column-title {
                padding: 40px;
                font-size: 25px;
                color: rgb(80, 100, 100);
            }

            .about-us-content {
                font-size: 18px;
                line-height: 28px;
                padding: 20px 40px 60px;
            }
        }
    }

    img:hover {
        transform: scale(1.3);
    }
}